body {
  padding: 10px;
}

/* login page */
.Login {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  padding: 100px;
}
.Login div,
input,
button {
  margin-bottom: 20px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login_input input button {
  width: 50%;
}

/* header */
.Header {
  display: flex;
  justify-content: space-between;
}

/* CommunityList */
.CommunityList {
  display: flex;
}

/* communityItem */
.CommunityItem {
  cursor: pointer;
  margin: 30px;
}
.CommunityItem img {
  max-width: 200px;
}

/* communityEditor */
.control_box {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
